<div id="<%= dom_id tree %>">
<!-- Bootstrap CSS -->

<!-- Bootstrap JavaScript -->



<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h1 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2> <%= tree.name %></h2>
      </button>
    </h1>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Description: <%= tree.description %> 
      </div>
    </div>
  </div>
  