<table class="table table-striped table-hover">
    <tr class="table-primary">
      <th>Grade</th>
      <th>Cutoff</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table">
      <td>A</td>
      <td><%= @tree.cutoff_a %></td>
    </tr>
    <tr class="table">
      <td>B</td>
      <td><%= @tree.cutoff_b %></td>
    </tr>
    <tr class="table">
      <td>C</td>
      <td><%= @tree.cutoff_c %></td>
    </tr>
    <tr class="table">
      <td>D</td>
      <td><%= @tree.cutoff_d %></td>
    </tr></p>
 
</table>